/* Section header */
.header{
    background-image: url(../img/bg-header.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.img-logo{
    width: 40px;
}
.header::after{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}

.linear-whithe::after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}

.vh-50{
    height: 50vmin;
}

/* section experience */
.card-img-filter{
    filter: brightness(0.5);
}

.card{
    transition-duration: .6s;
    clip-path: polygon(
         50% 0, 
         100% 0, 
         100% 50%, 
         100% 100%, 
         50% 100%, 
         0 100%, 
         0 50%, 
         0 0
        );
}

.card-effect:hover .card {
    clip-path: polygon(
         50% 0, 
         50% 0, 
         100% 50%, 
         100% 50%, 
         50% 100%, 
         50% 100%, 
         0 50%, 
         0 50%
        );
}

.card-img-overlay{
    transition-duration: .6s;
}

.card-effect:hover .card-img-overlay{
    transform: scale(0.9);
}

/* section comments */
.comments{
    background-image: url(../img/bg-clients.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.comments.linear-whithe::after {
    top: 0;
}

.comments__img{
    --tamano: 80px;
    width: var(--tamano);
    height: var(--tamano);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 7px 7px 7px rgba(0 0 0 / 0.5);
    border: 3px ridge #fff;

}

.transform-turn{
    transform: rotate(0.5turn);
}